@media only screen and (max-width: 1026px) {
  #about_left, #about_summary, #about_introduction {
    display: none;
  }
  #blog_intro_right, #project_intro_right {
    display: none;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .home-cover-content {
      font-size: 1.5rem;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .home-cover-content {
      padding-left: 75%;
    }
}
@media (max-width: 1600px) {
  .home-cover-content {
    padding-left: 75%;
  }
}
@media (max-width: 1200px) {
  .home-cover-content {
    padding-left: 70%;
  }
}
@media (max-width: 1026px) {
  .home-cover-content {
    padding-left: 60%;
  }
}
@media (max-width: 992) {
  .home-cover-content {
    padding-left: 60%;
  }
}
@media (max-width: 768px) {
  .hidden-xs-down {
    display: none !important;
  }
  .home-cover-content {
    padding-left: 45%;
  }
}

/* ----------- height Screens ----------- */
@media (max-height: 1600px) {
  .home-cover-content {
    padding-top: 65vh;
  }
}
@media (max-height: 1200px) {
  .home-cover-content {
    padding-top: 65vh;
  }
}
@media (max-height: 800px) {
  .home-cover-content {
    padding-top: 65vh;
  }
}

@media (max-height: 660px) {
  .home-cover-content {
    padding-top: 45vh;
  }
}

@media (max-height: 450px) {
  .home-cover-content {
    padding-top: 30vh;
  }
}

@media (max-height: 450px) {
  .home-cover-content {
    padding-top: 15vh;
  }
}

@media (max-height: 300px) {
  .home-cover-content {
    padding-top: 5vh;
  }
}

/* ----------- height & width Screens ----------- */
@media (max-height: 1300px) and (max-width: 2600px) {
  .home-cover-content {
    font-size: 2rem;
  }
}
@media (max-height: 1000px) and (max-width: 2600px) {
  .home-cover-content {
    font-size: 1.5rem;
  }
}
@media (max-height: 1600px) and (max-width: 1600px) {
  .home-cover-content {
    font-size: 1.5rem;
  }
}
@media (max-height: 880px) and (max-width: 600px) {
  .home-cover-content {
    font-size: 1rem;
  }
}
